<div>
  <div *ngIf="!isListView" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">⌛ TIMER APP ⌛</h1>
      <p class="lead">SIMPLEST STOPWATCH APP YOU HAVE EVER SEEN 🔥</p>
    </div>
  </div>

  <div class="container">
    
    <ul class="nav nav-tabs">
      <li class="nav-item"><a href="#" [class.active]="!isListView" class="nav-link" (click)="changeState();"><strong>Single Stopwatch ⏱️</strong></a></li>
      <li class="nav-item"><a href="#" [class.active]="isListView" class="nav-link" (click)="changeState();"><strong>List View 📃</strong></a></li>
    </ul>
        
  </div>
  <div *ngIf="!isListView; else listView">
    <br>
    <app-stopwatch [isInListView]="false"></app-stopwatch>
  </div>
  
  <ng-template #listView>
    <button type="button" class="btn btn-info btn-lg float-right" (click)="addToList();">➕</button>
    <br>
    <br>
    <br>
    <app-stopwatch (delete)="remove($event)" *ngFor="let stopwatch of stopwatches" [id]="stopwatch.id" [isInListView]="true"></app-stopwatch>
  </ng-template>
</div>
